// Change bootstrap parameters through SCSS. These options must come before the initial
// bootstrap import.
// $font-size-base: 13;
//$font-family-base: "Montserrat", "sans-serif";
// @import "~bootstrap/scss/bootstrap";

@import "purecss";
@import "modal.scss";
@import "montserrat.css";

body {
  font-family: "Montserrat", "sans-serif";
}

$padding: 10px;

#app {
  padding: $padding;
  h1 {
    margin: 0;
    margin-bottom: 0.67em;
  }
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  a {
    padding-left: 5px;
  }
  #logo {
    position: fixed;
    right: $padding;
    bottom: $padding;
    width: 250px;
    height: 208px;
  }
  .pagination {
    display: inline-block;
    a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    a.active {
      background-color: #4caf50;
      color: white;
      border-radius: 5px;
    }
    a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }
  }
}

#optionsModal {
  form {
    label {
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }
}
