// Change bootstrap parameters through SCSS. These options must come before the initial
// bootstrap import.
// $font-size-base: 13;
//$font-family-base: "Montserrat", "sans-serif";
// @import "~bootstrap/scss/bootstrap";

@import "purecss";
@import "modal.scss";
@import "montserrat.css";

$app-padding: 10px;
$app-fontsize: 16px;
$button-horiz-padding: 16px;
$button-vert-padding: 8px;

body {
  font-family: "Montserrat", "sans-serif";
  font-size: $app-fontsize;
}

#app {
  padding: $app-padding;
  h1 {
    margin: 0;
    margin-bottom: 0.67em;
  }
  ul {
    list-style-type: none;
    padding-left: 20px;
  }
  a {
    padding-left: 5px;
  }
  #logo {
    position: fixed;
    right: $app-padding;
    bottom: $app-padding;
    width: 250px;
    height: 208px;
  }
  .pagination {
    display: inline-block;
    a {
      color: black;
      float: left;
      padding: $button-vert-padding $button-horiz-padding;
      text-decoration: none;
      width: $app-fontsize;
      text-align: center;
    }
    a:first-child {
      padding-left: 0px;
    }
    a:last-child {
      padding-right: 0px;
    }
    a.active {
      background-color: #4caf50;
      color: white;
      border-radius: 5px;
    }
    a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }
  }
}

#optionsModal {
  form {
    label {
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }
}
