// Change bootstrap parameters through SCSS. These options must come before the initial
// bootstrap import.
$font-size-base: 12;
@import "~bootstrap/scss/bootstrap";

ul {
  list-style-type: none;
  padding-left: 20px;
}

a {
  padding-left: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-group span {
  font-style: italic;
}
