// Change bootstrap parameters through SCSS. These options must come before the initial
// bootstrap import.
$font-size-base: 13;
$font-family-base: "Montserrat", "sans-serif";
@import "~bootstrap/scss/bootstrap";

ul {
  list-style-type: none;
  padding-left: 20px;
}

#app a {
  padding-left: 5px;
}

.form-group {
  label {
    font-weight: bold;
  }
  span {
    font-style: italic;
  }
}

#logo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 250px;
  height: 208px;
}
