// Change bootstrap parameters through SCSS. These options must come before the initial
// bootstrap import.
$font-size-base: 12;
@import "~bootstrap/scss/bootstrap";

// TODO: scrollbar should stay present when options is open, but disallow scrolling.
// https://stackoverflow.com/questions/25070144/bootstrap-modal-removes-scroll-bar
// .modal-open {
//   overflow: scroll;
// }

body {
  font-family: montserrat;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

a {
  padding-left: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-group span {
  font-style: italic;
}

#logo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 250px;
  height: 208px;
}

#optionsButton {
  position: fixed;
  float: right;
  right: 0px;
  top: 0px;
}
